

<mat-card>

    
        <a mat-button  (click)="Asistencias()" style="margin-right:5px;" >Asistencias</a>
   
        <a mat-button   (click)="Fechatraso()" style="margin-right:5px;" >Fechas de Atrasos</a>
   
        <a mat-button  (click)="Totatraso()" style="margin-right:5px;" >Total de Atrasos</a>
   
        <a mat-button  (click)="FechaFalta()"  style="margin-right:5px;" >Fechas de Faltas</a>
   
        <a mat-button  (click)="Totafalta()" style="margin-right:5px;" >Total de Faltas</a>
   
        <a mat-button  (click)="Fechaextra()" style="margin-right:5px;" >Fechas con Horas Extra</a>
        
        <a mat-button  (click)="Totaextra()" style="margin-right:5px;" >Total de Horas Extra</a>
   
        <a mat-button  (click)="Fechamovsup()" style="margin-right:5px;" >Fechas con Movilidad Superada</a>
   
        <a mat-button  (click)="Totmovsup()"  style="margin-right:5px;" >Total de Movilidad Superada</a>

</mat-card>

<router-outlet></router-outlet>



