
<mat-card>

    <mat-spinner *ngIf="isLoading"></mat-spinner>


    <form  #postForm="ngForm" *ngIf="!isLoading">
       
        <mat-form-field>
            <input matInput type=" text" readonly
            [(ngModel)]="NombreInp"
            name="Nombre_Empleado"
            ngModel
            pattern="([A-Z]{1})[a-z]*"
            required
            minlength="3"
            required maxlength="12"
            placeholder="Nombre"
            #Nombre="ngModel">
            <mat-error *ngIf="Nombre.invalid">Por favor Ingrese Nombre Valido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text"  readonly
            [(ngModel)]="ApellidoInp" 
            name="Apellido_Empleado"
            ngModel
            pattern="([A-Z]{1})[a-z]*"
            required
            required minlength="3"
            required maxlength="12"
            placeholder="Apellido"
            #content="ngModel">
            <mat-error *ngIf="content.invalid">Por favor Ingrese Apellido Valido</mat-error>
        </mat-form-field>
       
        <mat-form-field>
            <input matInput type=" text"  readonly
            [(ngModel)]="CedulaInp" 
            name="Cedula"
            ngModel
            pattern="^([0-1][1-9]|2[0-4])([0-9]){8}$"
            required
            minlength="10"
            required maxlength="10"
            placeholder="Cedula"
            #title="ngModel">
            <mat-error *ngIf="title.invalid">Por favor Ingrese Cedula valida, de 10 caracteres</mat-error>
        </mat-form-field>
       
         <mat-form-field>
            <input matInput type="text"
            [(ngModel)]="MovilidadInp" 
            name="Movilidad"         
             
             min="8"   max="12"
             mask="percent" suffix="%"
             pattern="^(12|[1][0-2]?)$"
             ngModel
             required
             minlength="2"
             required maxlength="3"
             placeholder="Movilidad en porcentaje entre 10 y 12"
            #Movilidade="ngModel">
            <mat-error *ngIf="Movilidade.invalid">Por favor Ingrese un valor de movilidad Valido</mat-error>
        </mat-form-field>
          
        
        <hr>
        <button mat-raised-button type="button"
        color="primary" 
        (click)="onSavePost(postForm)" >Continuar</button>
                
        <button mat-raised-button type="button"
        color="warn" 
        [routerLink]="['/movilidadmain']"
            >CANCEL</button>
        

    </form>

    
</mat-card>



