
              <mat-card>

                
      

                <mat-spinner *ngIf="isLoading"></mat-spinner>

                  
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">

                  

                    <!-- Position Column -->
                    <ng-container matColumnDef="id_Permiso">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_Permiso}} </td>
                    </ng-container>
                  
                  <!-- Nombre Column -->
                  <ng-container matColumnDef="Nombre_Empleado">
                    <th mat-header-cell *matHeaderCellDef> Nombre Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Empleado}} </td>
                  </ng-container>
                
                  <!--Apellido Column -->
                  <ng-container matColumnDef="Apellido_Empleado">
                    <th mat-header-cell *matHeaderCellDef> Apellido Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Apellido_Empleado}} </td>
                  </ng-container>
                
                  <!-- Cedula Column -->
                  <ng-container matColumnDef="Tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
                  </ng-container>
                  <!-- Telefono Column -->
                  <ng-container matColumnDef="Estado_Permiso">
                      <th mat-header-cell *matHeaderCellDef> Estado Permiso </th>
                      <td mat-cell *matCellDef="let element"> {{element.Estado_Permiso}} </td>
                    </ng-container>
                    <!-- Direccion Column -->
                  <ng-container matColumnDef="Fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
                    </ng-container>
                          <!-- Correo Column -->
                  <ng-container matColumnDef="Tiempo">
                    <th mat-header-cell *matHeaderCellDef> Tiempo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Tiempo}} </td>
                  </ng-container>
                



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row (click)="highlight(row)"  
                  *matRowDef="let row; columns: displayedColumns;"
                  [ngClass]="{'highlight': selectedRowIndex == row.id_Permiso,hovered: row.hovered}"
                  
                  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                      >
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </mat-card> 

                

                <mat-card>
                  
                  <span>

                  <button  type="button" mat-raised-button color="primary"
                  *ngIf="selectedRowIndex!=null" 
                [routerLink]="['/permisos/permaprobarmain/apronegapermi',selectedRowIndex]"
                
                  >Validar</button>
                
                </span>
                <span class="spacer">

                </span>


                    <button mat-raised-button 
                    color="warn"
                    type="button" 


                    (click)="onCancel()"
                    [routerLink]="['/permisos']"
                      >CANCEL</button>
                  

                      
                  
                </mat-card>








