
              <mat-card>
                
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                  
                <table mat-table [dataSource]="dataSourceThree" class="mat-elevation-z8" *ngIf="!isLoading">

                  

                    <!-- Position Column -->
                    <ng-container matColumnDef="Id_Dispositivo">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.Id_Dispositivo}} </td>
                    </ng-container>
                  
                  <!-- Nombre Column -->
                  <ng-container matColumnDef="Nombre_Empleado">
                    <th mat-header-cell *matHeaderCellDef> Nombre_Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre_Empleado}} </td>
                  </ng-container>
                
                  <!--Apellido Column -->
                  <ng-container matColumnDef="Apellido_Empleado">
                    <th mat-header-cell *matHeaderCellDef> Apellido_Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Apellido_Empleado}} </td>
                  </ng-container>

                   <!-- Cedula Column -->
                  <ng-container matColumnDef="Mac_Add">                                      
                  <th mat-header-cell *matHeaderCellDef> Mac </th>
                  <td mat-cell *matCellDef="let element"> {{element.Mac_Add}} </td>
                   </ng-container>
                  
                  <!-- Cedula Column -->
                  <ng-container matColumnDef="IPdis">
                    <th mat-header-cell *matHeaderCellDef> IPdis </th>
                    <td mat-cell *matCellDef="let element"> {{element.IPdis}} </td>
                  </ng-container>



                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row (click)="highlight(row)"  
                  *matRowDef="let row; columns: displayedColumns;"
                  [ngClass]="{'highlight': selectedRowIndex == row.Id_Dispositivo,hovered: row.hovered}"
                  
                  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
                      >
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </mat-card> 

                

                <mat-card>
                  
                  <span>
                    <button  type="button" mat-raised-button color="primary"
                    *ngIf="selectedRowIndex!=null"
                  [routerLink]="['/dispositivo/edit',selectedRowIndex]"
                  
                    >Edit</button>
   


                    <span class="spacer">

                    </span>
                  
                    <button mat-raised-button 
                    color="warn"
                    type="button" 


                    (click)="onCancel()"
                    [routerLink]="['/permisos']"
                      >CANCEL</button>
                  

                      
                  
                </mat-card>








